/*  =================================================
    Resetting Values 
    ================================================= */

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  * {
    font-size: 32px;
  }
}

/*  =================================================
    Colours
    ================================================= */

:root {
  --speedyBlue: rgba(0, 60, 120, 1);
  --speedyWhite: hsl(0, 0%, 100%, 1);
  --speedyDarkGrey: rgba(30, 30, 30, 1);
  --speedyGrey: rgba(120, 120, 120, 1);
  --speedyLightGrey: hsla(210, 10%, 92%, 1);
  --speedyLightGrey2: hsla(210, 0%, 80%, 1);
  --speedyYellow: hsla(45, 100%, 50%, 1);
  --speedyRed: rgba(220, 50, 35, 1);
}

/*  =================================================
    Typography
    ================================================= */

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
}

/*  =================================================
    Start of Header Section 
    ================================================= */

header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 60, 120, 0);
  color: var(--speedyDarkGrey);
  font-weight: 700;
  display: grid;
  grid-template-columns: 5% 20% 70% 5%;
  justify-items: right;
  z-index: 10;
}

.showNav {
  animation: showNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes showNav {
  0% {
    background-color: rgba(0, 60, 120, 0);
    color: var(--speedyDarkGrey);
  }
  100% {
    background-color: rgba(0, 60, 120, 0.98);
    color: var(--speedyWhite);
  }
}

.hideNav {
  animation: hideNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes hideNav {
  0% {
    background-color: rgba(0, 60, 120, 0.98);
    color: var(--speedyWhite);
  }
  100% {
    background-color: rgba(0, 60, 120, 0);
    color: var(--speedyDarkGrey);
  }
}

.logoContainer {
  grid-column: 2;
  justify-self: left;
}

.navLogo {
  position: absolute;
  height: 9.3rem;
  padding-top: 0.5em;
  z-index: 11;
}

nav {
  grid-column: 3;
  align-self: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: flex;
  padding: 0.5em 0 0.5em 2em;
  margin: 0.5em 0;
}

nav a {
  padding: 0.7em 0.5em 0.7em 0.5em;
  opacity: 0.75;
}

nav a.lastIcon {
  padding: 0.7em 0em 0.7em 0.5em;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header {
    height: 4.25rem;
  }

  .navLogo {
    height: 6.9rem;
    padding-top: 0.5em;
  }

  nav {
    position: relative;
    top: -4.25em;
    left: 100%;
    width: 100%;
    grid-area: 2 / 1 / span 1 / span 4;
    visibility: visible;
    background-color: var(--speedyBlue);
    padding-top: 4.25em;
  }

  nav.slideIn {
    animation: slideIn linear 0.1s forwards;
  }

  @keyframes slideIn {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  nav.slideOut {
    animation: slideOut linear 0.1s forwards;
  }

  @keyframes slideOut {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  nav li {
    display: block;
    position: relative;
    left: 5%;
    width: 90%;
    padding: 1.25em 0 1.25em 0;
    margin: 0;
    border-top: 0.125em solid var(--speedyLightGrey);
  }

  nav li.homeLink {
    position: relative;
    left: 0%;
    width: 100%;
    padding-top: 3.25em;
    padding-left: 5%;
  }

  nav li.bottomIcon {
    border-top: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    font-size: 1.25rem;
    padding: 1em 10em 1em 0;
  }

  nav a.lastIcon {
    padding: 0;
  }

  nav a .menuArrowContainer {
    position: absolute;
    height: 4em;
    width: 13.75em;
    bottom: 0em;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav a .menuArrow {
    position: relative;
    left: -1.25em;
    height: 1em;
    width: 1em;
    border-bottom: 0.15em solid var(--speedyWhite);
    border-right: 0.15em solid var(--speedyWhite);
    transform: rotate(-45deg);
  }
}

nav a:hover,
nav a:focus {
  color: var(--speedyWhite);
  opacity: 1;
}

nav .currentPage:hover,
nav .currentPage:focus {
  opacity: 0.75;
}

/*  =================================================
    Nav - Information Boxes 
    ================================================= */

.infoBox {
  position: absolute;
  left: -18rem;
  top: 4.25rem;
  height: 12rem;
  width: 18rem;
  background-color: var(--speedyDarkGrey);
  color: var(--speedyWhite);
  grid-column: 5 / span 1;
  border-radius: 0 0 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: 1fr repeat(3, 0.5fr) 1fr;
  align-items: center;
  padding: 0 1rem;
  cursor: auto;
  font-weight: 700;
}

#getPhone {
  grid-template: 1fr repeat(3, 0.5fr) 1fr / 1fr 1.25fr;
}

.arrowUp {
  position: absolute;
  top: -0.7rem;
  left: 9.1rem;
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid var(--speedyDarkGrey);
}

#getLocation .arrowUp {
  left: 12.4rem;
}

#getPhone h3 {
  grid-area: 1 / 1 / span 1 / span 2;
  font-weight: 700;
}

#getLocation h3 {
  grid-row: 1 / span 1;
  font-weight: 700;
}

.infoBox h3 {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--speedyWhite);
}

.infoBox p {
  font-size: 0.8rem;
  padding: 0.25rem 0;
}

.closedToday.weekendColour {
  color: var(--speedyRed);
}

#callUsButton {
  grid-area: 5 / 1 / span 1 / span 2;
}

#getDirectionsButton {
  grid-row: 5;
}

.infoBox a {
  justify-self: center;
  align-self: center;
  width: 10rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid var(--speedyWhite);
  border-radius: 1rem;
  animation: buttonOff 0.25s linear;
  animation-fill-mode: forwards;
  position: relative;
  top: -3px;
}

.infoBox a:hover {
  animation: buttonOn 0.25s linear;
  animation-fill-mode: forwards;
}

.hideInformation {
  visibility: hidden;
}

/*  =================================================
    Menu Icon for Mobile Devices
    ================================================= */

header .menuBars {
  visibility: hidden;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  margin: 0.75rem 0;
}

header .barLines {
  width: 2rem;
  height: 5px;
  background-color: var(--speedyWhite);
  border-radius: 5px;
  margin: 0 auto;
}

.firstLine {
  position: relative;
  top: 22px;
}

.secondLine {
  position: relative;
  top: 37px;
}

.thirdLine {
  position: relative;
  top: 52px;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header .menuBars {
    visibility: visible;
    grid-column: 3;
  }

  header .rotateBarsOpen {
    animation: rotateBarsOpen linear 0.15s forwards;
  }

  @keyframes rotateBarsOpen {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }

  header .rotateBarsClose {
    animation: rotateBarsClose linear 0.15s forwards;
  }

  @keyframes rotateBarsClose {
    0% {
      transform: rotate(135deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .firstLineOpen {
    animation: firstLineOpen linear 0.15s forwards;
  }

  @keyframes firstLineOpen {
    0% {
      top: 22px;
    }
    50% {
      top: 42px;
    }
    100% {
      top: 42px;
    }
  }

  .thirdLineOpen {
    animation: thirdLineOpen linear 0.15s forwards;
  }

  @keyframes thirdLineOpen {
    0% {
      top: 52px;
    }
    50% {
      top: 32px;
      transform: rotate(0deg);
    }
    100% {
      top: 32px;
      transform: rotate(90deg);
    }
  }

  .firstLineClose {
    animation: firstLineClose linear 0.15s forwards;
  }

  @keyframes firstLineClose {
    0% {
      top: 42px;
    }
    50% {
      top: 42px;
    }
    100% {
      top: 22px;
    }
  }

  .thirdLineClose {
    animation: thirdLineClose linear 0.15s forwards;
  }

  @keyframes thirdLineClose {
    0% {
      top: 32px;
      transform: rotate(90deg);
    }
    50% {
      top: 32px;
      transform: rotate(0deg);
    }
    100% {
      top: 52px;
    }
  }
}

/*  =================================================
    End of Header Section
    ================================================= */

/*  =================================================
    Start of Home Page
    ================================================= */

#homeFirstSection {
  width: 100%;
  min-width: 300px;
  height: 100vh;
  background-image: url(../images/background/homeBackground.jpg);
  background-size: cover;
  background-position: 50% 80%;
  display: grid;
  grid-template: repeat(3, 1fr) / 5% 90% 5%;
}

.firstSentence {
  grid-area: 3 / 2 / span 1 / span 1;
  color: var(--speedyWhite);
  position: relative;
  top: -1.5rem;
}

.bookNowButton {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 3rem;
  position: relative;
  top: 2rem;
  border: 2px solid var(--speedyWhite);
  border-radius: 2rem;
  animation: buttonOff 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes buttonOff {
  0% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
  }
  100% {
    color: var(--speedyWhite);
    background-color: transparent;
  }
}

.bookNowButton:hover {
  animation: buttonOn 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes buttonOn {
  0% {
    color: var(--speedyWhite);
    background-color: transparent;
  }
  100% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
  }
}

#homeSecondSection {
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr 100px / 0.5fr 5fr 1fr 3fr 0.5fr;
  background-color: var(--speedyLightGrey);
}

#homeSecondSection .briefIntro {
  color: var(--speedyBlue);
  grid-area: 2 / 2 / span 1 / span 2;
  line-height: 1.5;
  background-color: var(--speedyWhite);
  padding: 3rem 5rem;
  text-align: justify;
  border-radius: 1rem 0 0 1rem;
}

#homeSecondSection h2 {
  font-weight: 900;
  text-align: center;
  padding-bottom: 1rem;
}

.verticalImage {
  grid-area: 2 / 4 / span 1 / span 2;
  height: calc(100vh - 200px);
  width: 35vw;
  background-image: url(../images/extra/carKey.jpg);
  background-size: cover;
  background-position: 0% 50%;
}

.bookNowBlueButton {
  font-weight: 500;
  padding: 0.5rem 2.5rem;
  position: relative;
  top: 1.25rem;
  border: 2px solid var(--speedyBlue);
  border-radius: 2rem;
  animation: buttonRedOff 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes buttonRedOff {
  0% {
    color: var(--speedyWhite);
    background-color: var(--speedyBlue);
  }
  100% {
    color: var(--speedyBlue);
    background-color: transparent;
  }
}

.bookNowBlueButton:hover {
  animation: buttonRedOn 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes buttonRedOn {
  0% {
    color: var(--speedyBlue);
    background-color: transparent;
  }
  100% {
    color: var(--speedyWhite);
    background-color: var(--speedyBlue);
  }
}

#homeThirdSection {
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr 100px / 0.5fr 2.75fr 0.375fr 2.75fr 0.375fr 2.75fr 0.5fr;
  background-color: var(--speedyWhite);
}

#homeThirdSection h2 {
  font-weight: 900;
  color: var(--speedyBlue);
  grid-area: 1 / 2 / span 1 / span 5;
  text-align: center;
  align-self: center;
}

#homeThirdSection .comments {
  border-radius: 1rem;
  color: var(--speedyBlue);
  text-align: center;
  background-color: var(--speedyLightGrey);
  padding: 2.5rem;
  display: grid;
  grid-template-rows: 3fr repeat(2, 2fr) 8fr 1fr;
}

#firstComment {
  grid-area: 2 / 2;
}

#secondComment {
  grid-area: 2 / 4;
}

#thirdComment {
  grid-area: 2 / 6;
}

.comments h3 {
  font-weight: 900;
  font-size: 1.25rem;
}

.comments h4 {
  font-size: 1.1rem;
}

.comments p {
  align-self: start;
}

.profileImage {
  height: 4rem;
  justify-self: center;
}

.rating {
  color: var(--speedyYellow);
}

/*  =================================================
    End of Home Page
    ================================================= */

/*  =================================================
    Start of Footer Section
    ================================================= */

footer {
  display: grid;
  grid-template: 275px 75px / 0.5fr 2.75fr 0.375fr 2.75fr 0.375fr 2.75fr 0.5fr;
  align-items: center;
  background-color: var(--speedyDarkGrey);
  color: var(--speedyLightGrey2);
}

footer .footerColumn {
  padding-top: 1.5rem;
  height: 225px;
  display: grid;
  grid-template: 2.5fr repeat(4, 1fr) 1.5fr / 1fr 1.25fr;
  padding: 0 2rem;
}

footer .footerColumn h3 {
  color: var(--speedyWhite);
  font-size: 1.1rem;
  grid-area: 1 / 1 / span 1 / span 2;
  align-self: center;
}

footer .footerColumn p {
  font-size: 0.8rem;
}

footer .firstFooterColumn {
  grid-area: 1 / 2;
}

footer .firstFooterColumn p {
  grid-area: 2 / 1 / span 3 / span 2;
  text-align: justify;
  line-height: 1.2rem;
}

footer .footerColumn .footerButton {
  grid-area: 5 / 1 / span 2 / span 2;
  font-size: 0.8rem;
  width: 10rem;
  text-align: center;
  align-self: center;
  border: 1px solid var(--speedyLightGrey2);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  animation: footerButtonOff 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes footerButtonOff {
  0% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
    border-color: var(--speedyWhite);
  }
  100% {
    color: var(--speedyLightGrey2);
    background-color: transparent;
    border-color: var(--speedyLightGrey2);
  }
}

footer .footerColumn .footerButton:hover {
  animation: footerButtonOn 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes footerButtonOn {
  0% {
    color: var(--speedyLightGrey2);
    background-color: transparent;
    border-color: var(--speedyLightGrey2);
  }
  100% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
    border-color: var(--speedyWhite);
  }
}

footer .secondFooterColumn {
  grid-area: 1 / 4;
}

footer .thirdFooterColumn {
  grid-area: 1 / 6;
}

footer .thirdFooterColumn .row1 {
  grid-area: 3 / 1 / span 1 / span 2;
}

footer .footerColumn .footerInfoLink {
  font-size: 0.8rem;
  padding: 0.25rem 1rem 0.25rem 0;
}

footer .thirdFooterColumn .footerInfoLink:hover {
  color: var(--speedyWhite);
  opacity: 1;
}

footer .thirdFooterColumn .socialMedia {
  grid-area: 4 / 1 / span 1 / span 2;
}

footer .thirdFooterColumn .socialMedia a {
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin-right: 0.5rem;
}

footer .thirdFooterColumn .socialMedia a:hover {
  color: var(--speedyWhite);
  opacity: 1;
}

footer .thirdFooterColumn .socialMedia a i {
  font-size: 1.5rem;
}

footer #copyright,
footer #createdBy {
  font-size: 0.8rem;
  padding: 1.75rem 2rem;
}

footer #copyright span {
  font-size: 0.8rem;
}

footer #createdBy a {
  font-size: 0.8rem;
  padding: 0.75rem 0;
}

#copyright {
  height: 75px;
  grid-area: 2 / 2 / span 1 / span 4;
  border-top: 1px solid var(--speedyLightGrey2);
}

#createdBy {
  height: 75px;
  text-align: right;
  grid-area: 2 / 6 / span 1 / span 1;
  border-top: 1px solid var(--speedyLightGrey2);
}

#createdBy a:hover {
  color: var(--speedyWhite);
  opacity: 1;
}

/*  =================================================
    End of Footer Section
    ================================================= */

/*  =================================================
    Start of Booking Page
    ================================================= */

/*  =================================================
    Start of Booking Header
    ================================================= */

#bookingHeader {
  color: var(--speedyWhite);
}

.showBookingNav {
  animation: showBookingNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes showBookingNav {
  0% {
    background-color: rgba(0, 60, 120, 0);
  }
  100% {
    background-color: rgba(0, 60, 120, 0.98);
  }
}

.hideBookingNav {
  animation: hideBookingNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes hideBookingNav {
  0% {
    background-color: rgba(0, 60, 120, 0.98);
  }
  100% {
    background-color: rgba(0, 60, 120, 0);
  }
}

/*  =================================================
    End of Booking Header
    ================================================= */

/*  =================================================
    Start of Booking Main
    ================================================= */

#bookingFirstSection {
  width: 100%;
  min-width: 300px;
  height: 57vh;
  background-image: url(../images/background/bookingBackground.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  display: grid;
  grid-template: repeat(2, 50%) / 5% repeat(3, 30%) 5%;
}

#bookingFirstSection .bookingHeader {
  grid-area: 2 / 2;
  color: var(--speedyWhite);
  font-weight: 900;
  animation: showBookingHeader 0.25s linear;
  animation-fill-mode: forwards;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  #bookingFirstSection {
    background-size: auto;
    background-attachment: scroll;
    background-position: 50% 0%;
    grid-template: repeat(2, 50%) / 5% repeat(2, 45%) 5%;
    height: 36.25vh;
  }

  #bookingFirstSection .bookingHeader {
    /* visibility: hidden; */
    font-size: 1.5rem;
    position: relative;
    top: -0.25em;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #bookingFirstSection {
    background-size: cover;
    height: 68vh;
    background-position: 50% 10%;
  }

  #bookingFirstSection .bookingHeader {
    position: relative;
    top: 0.5em;
    font-size: 2rem;
    visibility: visible;
  }
}

@keyframes showBookingHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bookingFirstSection .hideBookingHeader {
  animation: hideBookingHeader 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes hideBookingHeader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#bookingFirstSection h2 {
  grid-area: 2 / 4;
  color: var(--speedyWhite);
  font-weight: 900;
}

#bookingSecondSection {
  width: 100%;
  color: var(--speedyBlue);
  background-color: var(--speedyLightGrey);
}

#bookingSecondSection h1 {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  padding: 1.5rem 0 1rem 0;
}

#bookingSecondSection h3 {
  width: 65%;
  margin: 0 auto;
  text-align: justify;
  padding: 0 1.75rem 0.75em 1.75rem;
}

#bookingSecondSection .bookingForm {
  width: 65%;
  margin: 0 auto;
  padding: 0 1rem 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 850px) {
  #bookingSecondSection h1,
  #bookingSecondSection h3,
  #bookingSecondSection .bookingForm {
    width: 90%;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  #bookingSecondSection h1,
  #bookingSecondSection h3,
  #bookingSecondSection .bookingForm {
    width: 100%;
  }
}

.bigSpan {
  grid-column: span 6;
}

.mediumSpan {
  grid-column: span 3;
}

.smallSpan {
  grid-column: span 2;
}

@media (max-width: 1250px) {
  .smallSpan {
    grid-column: span 3;
  }
}

@media (max-width: 600px) {
  .mediumSpan {
    grid-column: span 6;
  }
  .smallSpan {
    grid-column: span 6;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  .mediumSpan {
    grid-column: span 6;
  }
  .smallSpan {
    grid-column: span 6;
  }
}

#bookingSecondSection .bookingForm .formTitles {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 0.75rem 0 0.75rem;
}

#bookingSecondSection .bookingForm section .blockText,
#bookingSecondSection .bookingForm .blockText {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem 0 1.25rem;
  margin: 0 0.5rem;
}

.whiteInputBox {
  height: 40px;
  background-color: var(--speedyWhite);
  border: 2px solid var(--speedyWhite);
  border-radius: 2rem;
  padding: 0.2rem 1.25rem;
  margin: 0.5rem;
}

#bookingSecondSection .bookingForm .checkboxes {
  position: fixed;
  opacity: 0;
}

.textInBox {
  height: 2.5em;
  display: block;
  background-color: var(--speedyWhite);
  border: 0.125em solid var(--speedyWhite);
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 2.75em;
  margin: 0.5em;
}

.checkCircle {
  position: relative;
  top: -1.25em;
  left: -2em;
  height: 1.25em;
  width: 1.25em;
  border: 0.0625em solid var(--speedyBlue);
  border-radius: 50%;
}

.checkCircle:hover {
  cursor: pointer;
}

.checkCircle.selectedCircle {
  background-color: var(--speedyBlue);
}

.checkMark {
  height: 0.75em;
  width: 0.35em;
  border-right: 0.125em solid var(--speedyWhite);
  border-bottom: 0.125em solid var(--speedyWhite);
  transform: rotate(40deg);
  position: absolute;
  left: 0.375em;
  top: 0.125em;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  .textInBox {
    font-size: 1.25rem;
  }

  .checkCircle {
    top: -1.5em;
    left: -2.5em;
    height: 1.5em;
    width: 1.5em;
  }

  .checkMark {
    height: 0.95em;
    width: 0.45em;
    left: 0.45em;
  }

  #bookingSecondSection .bookingForm .textInBox:hover {
    border-color: var(--speedyBlue);
    animation: focusedInput 0.4s linear;
    animation-fill-mode: forwards;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .checkCircle {
    top: -1.65em;
  }
}

#bookingSecondSection .bookingForm .selectedBox {
  font-weight: 700;
}

#bookingSecondSection .bookingForm .focusBlueBorder {
  border-color: var(--speedyBlue);
  animation: focusedInput 0.4s linear;
  animation-fill-mode: forwards;
}

.checkboxes {
  position: absolute;
}

#bookingSecondSection .bookingForm .hideComments {
  display: none;
}

#bookingSecondSection .bookingForm .submitButton {
  grid-column: 3 / 5;
  padding: 1.25rem 0 1rem 0;
}

@media (max-width: 1100px) {
  #bookingSecondSection .bookingForm .submitButton {
    grid-column: 2 / 6;
  }
}

@media (max-width: 650px) {
  #bookingSecondSection .bookingForm .submitButton {
    grid-column: 1 / 7;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  #bookingSecondSection .bookingForm .submitButton {
    grid-column: 1 / 7;
  }
}

#bookingSecondSection .bookingForm #preferredDate {
  height: 2.5em;
}

#bookingSecondSection .bookingForm input,
#bookingSecondSection .bookingForm select,
#bookingSecondSection .bookingForm textarea {
  border: 0.125em solid var(--speedyWhite);
  border-radius: 2em;
  font-weight: 700;
  width: -webkit-fill-available;
  padding: 0.5em 1.25em;
  margin: 0.5em;
  resize: none;
  background-color: var(--speedyWhite);
  caret-color: var(--speedyBlue);
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #bookingSecondSection .bookingForm input,
  #bookingSecondSection .bookingForm select,
  #bookingSecondSection .bookingForm textarea {
    font-size: 1.25rem;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #bookingSecondSection .bookingForm input,
  #bookingSecondSection .bookingForm select,
  #bookingSecondSection .bookingForm textarea {
    font-size: 1.5rem;
  }
}

#bookingSecondSection .bookingForm input:focus,
#bookingSecondSection .bookingForm select:focus,
#bookingSecondSection .bookingForm textarea:focus {
  border-color: var(--speedyBlue);
  animation: focusedInput 0.4s linear;
  animation-fill-mode: forwards;
}

@keyframes focusedInput {
  0% {
    border-color: var(--speedyWhite);
  }
  100% {
    border-color: var(--speedyBlue);
  }
}

/* It removes the default background colour and text colour when autofilling */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 2em var(--speedyWhite) inset;
  -webkit-text-fill-color: var(--speedyBlue);
}

.contentInsideBox,
.textInBox,
.checkboxes,
#submitButton {
  cursor: pointer;
}

#bookingSecondSection .bookingForm .submitButton #submitButton {
  background-color: var(--speedyBlue);
  border-color: var(--speedyBlue);
  color: var(--speedyWhite);
  font-size: 1.25rem;
  padding: 0.315em;
  opacity: 0.9;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  #bookingSecondSection .bookingForm .submitButton #submitButton {
    font-size: 1.5rem;
  }
}

#bookingSecondSection .bookingForm .submitButton #submitButton:hover {
  opacity: 1;
}

/* End of
Booking Main */

.grecaptcha-badge {
  bottom: 80px !important;
}

/* End of
Booking Page */
