/* Resetting all values to manage the
website elements from scratch */

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: inherit;
    box-sizing: border-box;
}

/* Colours used on the website */

:root {
   --speedyBlue: rgba(55, 95, 255, 1);
   --speedyWhite: rgba(255, 255, 255, 1);
   --speedyGrey: rgba(30, 30, 30, 1);
   --speedyDarkGrey: rgba(120, 120, 120, 1);
   --speedyRed: rgba(227, 8, 21, 1);
}

/* This section modifies the header section */

header {
   position: fixed;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr) 8fr repeat(2, 1fr);
   background-color: rgba(30, 30, 30, 0);
   color: var(--speedyWhite);
   z-index: 10;
   font-weight: 600;
}

#logo {
   grid-column: 2 / span 1;
   justify-self: center;
}

#logo img {
   height: 125px;
   /* height: 75px; */
   padding-top: 5px;
}

nav {
   grid-column: 3 / span 1;
}

nav ul {
   display: flex;
   justify-content: flex-end;
}

nav ul li {
   padding: 1rem;
   margin: .5rem 0;
}

nav ul li a {
   opacity: .75;
}

nav ul li a:hover {
   opacity: 1;
}

#callUs {
   grid-column: 4 / span 2;
   align-self: start;
   justify-self: start;
}

#callUs {
   position: relative;
   opacity: .75;
   padding: 1rem 0 1rem 1rem;
   margin: .5rem 0;
}

#callUs:hover {
   opacity: 1;
}

#phoneNumber {
   padding-left: .5rem;
}

/* This section modifies the main section */

main {

}

.firstSection {
   width: 100%;
   min-width: 300px;
   height: 100vh;
   background-image: url(../images/background/background1.jpg);
   background-size: cover;
   background-position: 50% 75%;
   grid-template: repeat(3, 4fr) / 1fr 10fr 1fr;
   display: grid;

}
.firstSentence {
   grid-area: 3 / 2 / span 1 / span 1;
   position: relative;
   top: -25px;
   color: var(--speedyWhite);
}

.firstSentence h1 {
   font-size: 3.5rem;
}

.firstSentence h2 {
   font-size: 2rem;
}

/* This section modifies the footer section */

footer {
   display: grid;
   grid-template: 250px 60px / 1fr 7fr 3fr 1fr;
   align-items: center;
   background-color: var(--speedyGrey);
   color: var(--speedyDarkGrey);
}

footer p,
footer p a {
   font-size: 12px;
   /* height: 50px; */
   padding: 22px 0;
}

#copyright {
   grid-area: 2 / 2 / span 1 / span 1;
   border-top: 1px solid var(--speedyDarkGrey);
}

#createdBy {
   text-align: right;
   grid-area: 2 / 3 / span 1 / span 1;
   border-top: 1px solid var(--speedyDarkGrey);
}

#createdBy a:hover {
   color: var(--speedyWhite);
   opacity: .5;
}
