/*  =================================================
    Resetting Values 
    ================================================= */

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  color: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

@media (max-width: 950px) {
  * {
    font-size: 15px;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  * {
    font-size: 32px;
  }
}

/*  =================================================
    Colours
    ================================================= */

:root {
  --speedyBlue: rgba(0, 60, 120, 1);
  --speedyWhite: hsl(0, 0%, 100%, 1);
  --speedyDarkGrey: rgba(30, 30, 30, 1);
  --speedyGrey: rgba(120, 120, 120, 1);
  --speedyLightGrey: hsla(210, 10%, 92%, 1);
  --speedyLightGrey2: hsla(210, 0%, 80%, 1);
  --speedyYellow: hsla(45, 100%, 50%, 1);
  --speedyRed: rgba(220, 50, 35, 1);
  --speedyDarkRed: hsl(0, 100%, 30%, 1);
}

/*  =================================================
    Typography
    ================================================= */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

label,
span {
  font-size: 0.9rem;
}

footer p,
footer a,
footer span {
  font-size: 0.8rem;
}

@media (max-width: 950px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  h2 {
    font-size: 1.75rem;
  }

  input,
  select,
  textarea {
    font-size: 1.25rem;
  }

  footer p,
  footer a,
  footer span {
    font-size: 1rem;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }

  input,
  select,
  textarea {
    font-size: 1.4rem;
  }

  label {
    font-size: 0.9rem;
    font-size: 0.75rem;
  }

  footer p,
  footer a,
  footer span {
    font-size: 0.8rem;
  }

  .copyright,
  footer span {
    font-size: 0.475rem;
  }
}

/*  =================================================
    Start | Header Section 
    ================================================= */

header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 60, 120, 0);
  color: var(--speedyDarkGrey);
  font-weight: 700;
  display: grid;
  grid-template-columns: 5% 20% 70% 5%;
  justify-items: right;
  z-index: 10;
}

.showNav {
  animation: showNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes showNav {
  0% {
    background-color: rgba(0, 60, 120, 0);
    color: var(--speedyDarkGrey);
  }
  100% {
    background-color: rgba(0, 60, 120, 0.98);
    color: var(--speedyWhite);
  }
}

.hideNav {
  animation: hideNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes hideNav {
  0% {
    background-color: rgba(0, 60, 120, 0.98);
    color: var(--speedyWhite);
  }
  100% {
    background-color: rgba(0, 60, 120, 0);
    color: var(--speedyDarkGrey);
  }
}

/* ===== Starts White Header */

.whiteHeader {
  color: var(--speedyWhite);
}

.showWhiteNav {
  animation: showWhiteNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes showWhiteNav {
  0% {
    background-color: rgba(0, 60, 120, 0);
  }
  100% {
    background-color: rgba(0, 60, 120, 0.98);
  }
}

.hideWhiteNav {
  animation: hideWhiteNav 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes hideWhiteNav {
  0% {
    background-color: rgba(0, 60, 120, 0.98);
  }
  100% {
    background-color: rgba(0, 60, 120, 0);
  }
}

/* ===== Ends White Header */

.logoContainer {
  grid-column: 2;
  justify-self: left;
}

.navLogo {
  position: absolute;
  height: 9.3rem;
  padding-top: 0.5em;
  z-index: 11;
}

nav {
  grid-column: 3;
  align-self: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: flex;
  padding: 0.5em 0 0.5em 1.75em;
  margin: 0.5em 0;
}

nav a {
  padding: 0.7em 0.5em 0.7em 0.5em;
  opacity: 0.75;
}

nav a.lastIcon {
  padding: 0.7em 0em 0.7em 0.5em;
}

.iconBtn {
  display: none;
}

/* == Max-width: 950px == */

@media (max-width: 950px) {
  header {
    height: 4.75rem;
  }

  #homeHeader {
    color: var(--speedyWhite);
    animation: hideWhiteNav 0.25s linear forwards;
  }

  nav {
    position: relative;
    top: -4.95em;
    left: 100%;
    width: 100%;
    grid-area: 2 / 1 / span 1 / span 4;
    background-color: var(--speedyBlue);
    padding: 4.95em 0 1em 0;
  }

  nav.slideIn {
    animation: slideIn ease-out 0.15s forwards;
  }

  @keyframes slideIn {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  nav.slideOut {
    animation: slideOut ease-out 0.15s forwards;
  }

  @keyframes slideOut {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  nav li {
    display: block;
    position: relative;
    left: 5%;
    width: 90%;
    padding: 1.25em 0 1.25em 0;
    border-top: 0.125em solid hsla(0, 0%, 100%, 0.25);
    margin: 0;
  }

  li.homeLink {
    position: relative;
    left: 0%;
    width: 100%;
    padding-top: 5.25em;
    padding-left: 5%;
  }

  li.contactContainer {
    border-bottom: 0.125em solid hsla(0, 0%, 100%, 0.25);
  }

  li.bottomIcons {
    width: 40%;
    max-width: 200px;
    border-top: 0;
  }

  li.phoneIconContainer {
    left: -55%;
    align-self: flex-end;
  }

  li.locationIconContainer {
    position: absolute;
    left: 55%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    padding: 1em 0;
    opacity: 1;
  }

  nav a.lastLinks {
    padding: 0;
  }

  .infoIcons {
    font-size: 0.95em;
    position: absolute;
    height: 2.5em;
    display: flex;
    align-items: center;
    padding-left: 1em;
    color: var(--speedyBlue);
    z-index: 1;
  }

  .iconBtn {
    font-size: 0.95em;
    position: relative;
    width: 100%;
    height: 2.5em;
    padding-left: 3.25em;
    display: flex;
    align-items: center;
    color: var(--speedyBlue);
    background-color: var(--speedyWhite);
    border-radius: 2.5em;
  }

  nav a .menuArrowContainer {
    position: absolute;
    height: 4em;
    width: 100%;
    bottom: 0em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav a .menuArrowContainerSpecial {
    left: -5%;
  }

  nav a .menuArrow {
    position: relative;
    left: -1.25em;
    height: 1em;
    width: 1em;
    border-bottom: 0.15em solid var(--speedyWhite);
    border-right: 0.15em solid var(--speedyWhite);
    transform: rotate(-45deg);
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  header {
    height: 4.25rem;
  }

  .navLogo {
    height: 6.9rem;
    padding-top: 0.5em;
  }
}

/* == For mobile devices (Portrait and Landscape) == */

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    height: 4.25rem;
  }

  .navLogo {
    height: 6.9rem;
    padding-top: 0.5em;
  }

  nav li {
    margin: 0;
  }
}

/* == For mobile devices (Portrait Only) == */

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  nav {
    position: relative;
    top: -4.25em;
    left: 100%;
    width: 100%;
    grid-area: 2 / 1 / span 1 / span 4;
    visibility: visible;
    background-color: var(--speedyBlue);
    padding: 4.25em 0 1em 0;
  }

  nav.slideIn {
    animation: slideIn ease-out 0.15s forwards;
  }

  @keyframes slideIn {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  nav.slideOut {
    animation: slideOut ease-out 0.15s forwards;
  }

  @keyframes slideOut {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }

  nav li {
    display: block;
    position: relative;
    left: 5%;
    width: 90%;
    padding: 1.25em 0 1.25em 0;
    border-top: 0.125em solid hsla(0, 0%, 100%, 0.25);
  }

  li.homeLink {
    position: relative;
    left: 0%;
    width: 100%;
    padding-top: 3.25em;
    padding-left: 5%;
  }

  li.contactContainer {
    border-bottom: 0.125em solid hsla(0, 0%, 100%, 0.25);
  }

  li.bottomIcons {
    width: 40%;
    border-top: 0;
  }

  li.phoneIconContainer {
    padding-top: 2.25em;
    width: 40%;
  }

  li.locationIconContainer {
    position: absolute;
    left: 55%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    font-size: 1.25rem;
    padding: 1em 0;
    opacity: 1;
  }

  nav a.lastLinks {
    padding: 0;
  }

  .infoIcons {
    position: absolute;
    height: 2.75em;
    display: flex;
    align-items: center;
    padding-left: 1em;
    color: var(--speedyBlue);
    z-index: 1;
  }

  .iconBtn {
    position: relative;
    width: 100%;
    height: 2.75em;
    padding-left: 3.25em;
    display: flex;
    align-items: center;
    color: var(--speedyBlue);
    background-color: var(--speedyWhite);
    border-radius: 2.5em;
  }

  nav a .menuArrowContainer {
    position: absolute;
    height: 4em;
    width: 100%;
    bottom: 0em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav a .menuArrowContainerSpecial {
    left: -5%;
  }

  nav a .menuArrow {
    position: relative;
    left: -1.25em;
    height: 1em;
    width: 1em;
    border-bottom: 0.15em solid var(--speedyWhite);
    border-right: 0.15em solid var(--speedyWhite);
    transform: rotate(-45deg);
  }
}

nav a:hover,
nav a:focus {
  color: var(--speedyWhite);
  opacity: 1;
}

nav .currentPage:hover,
nav .currentPage:focus {
  opacity: 0.75;
}

/*  =================================================
    Nav | Information Boxes 
    ================================================= */

.infoBox {
  visibility: hidden;
  position: absolute;
  left: -18rem;
  top: 4.25rem;
  height: 12rem;
  width: 18rem;
  background-color: var(--speedyDarkGrey);
  color: var(--speedyWhite);
  grid-column: 5 / span 1;
  border-radius: 0 0 0.5rem 0.5rem;
  display: grid;
  grid-template: 1fr repeat(3, 0.5fr) 1fr / 1fr 1.25fr;
  align-items: center;
  padding: 0 1rem;
  cursor: auto;
  font-weight: 700;
}

.arrowUp {
  position: absolute;
  top: -0.7rem;
  left: 9.1rem;
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid var(--speedyDarkGrey);
}

#getLocation .arrowUp {
  left: 12.4rem;
}

.infoBox h3 {
  grid-area: 1 / 1 / span 1 / span 2;
  font-weight: 700;
}

#getLocation h3 {
  grid-row: 1 / span 1;
  font-weight: 700;
}

.infoBox h3 {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--speedyWhite);
}

.infoBox p {
  font-size: 0.8rem;
  padding: 0.25rem 0;
}

.closedToday.weekendColour {
  color: var(--speedyRed);
}

#callUsButton {
  grid-area: 5 / 1 / span 1 / span 2;
}

#getDirectionsButton {
  grid-row: 5;
}

.infoBox a {
  justify-self: center;
  align-self: center;
  width: 10rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid var(--speedyWhite);
  border-radius: 1rem;
  animation: buttonOff 0.25s linear;
  animation-fill-mode: forwards;
  position: relative;
  top: -3px;
}

.infoBox a:hover {
  animation: buttonOn 0.25s linear;
  animation-fill-mode: forwards;
}

.hideInformation {
  visibility: hidden;
}

/*  =================================================
    Menu Icon for Max-Width: 950px and Mobile Devices
    ================================================= */

header .menuBars {
  display: none;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  margin: 0.75rem 0;
  cursor: pointer;
}

header .barLines {
  width: 2rem;
  height: 5px;
  background-color: var(--speedyWhite);
  border-radius: 5px;
  margin: 0 auto;
}

.firstLine {
  position: relative;
  top: 22px;
}

.secondLine {
  position: relative;
  top: 37px;
}

.thirdLine {
  position: relative;
  top: 52px;
}

/* ===== Max-Width: 950px ===== */

@media (max-width: 950px) {
  header .menuBars {
    display: block;
    height: 2.4rem;
    width: 2.4rem;
    grid-column: 3;
    margin: 1.15rem 0;
  }

  header .barLines {
    height: 2px;
    width: 1.75rem;
  }

  .firstLine {
    position: relative;
    top: 10px;
  }

  .secondLine {
    position: relative;
    top: 15px;
  }

  .thirdLine {
    position: relative;
    top: 20px;
  }

  header .rotateBarsOpen {
    animation: rotateBarsOpen linear 0.15s forwards;
  }

  @keyframes rotateBarsOpen {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }

  header .rotateBarsClose {
    animation: rotateBarsClose linear 0.15s forwards;
  }

  @keyframes rotateBarsClose {
    0% {
      transform: rotate(135deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .firstLineOpen {
    animation: firstLineOpen linear 0.15s forwards;
  }

  @keyframes firstLineOpen {
    0% {
      top: 10px;
    }
    50% {
      top: 17px;
    }
    100% {
      top: 17px;
    }
  }

  .thirdLineOpen {
    animation: thirdLineOpen linear 0.15s forwards;
  }

  @keyframes thirdLineOpen {
    0% {
      top: 20px;
    }
    50% {
      top: 13px;
      transform: rotate(0deg);
    }
    100% {
      top: 13px;
      transform: rotate(90deg);
    }
  }

  .firstLineClose {
    animation: firstLineClose linear 0.15s forwards;
  }

  @keyframes firstLineClose {
    0% {
      top: 17px;
    }
    50% {
      top: 17px;
    }
    100% {
      top: 10px;
    }
  }

  .thirdLineClose {
    animation: thirdLineClose linear 0.15s forwards;
  }

  @keyframes thirdLineClose {
    0% {
      top: 13px;
      transform: rotate(90deg);
    }
    50% {
      top: 13px;
      transform: rotate(0deg);
    }
    100% {
      top: 20px;
    }
  }
}

/* ===== Mobile Devices ===== */

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header .menuBars {
    display: block;
    grid-column: 3;
  }

  header .rotateBarsOpen {
    animation: rotateBarsOpen linear 0.15s forwards;
  }

  @keyframes rotateBarsOpen {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }

  header .rotateBarsClose {
    animation: rotateBarsClose linear 0.15s forwards;
  }

  @keyframes rotateBarsClose {
    0% {
      transform: rotate(135deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .firstLineOpen {
    animation: firstLineOpen linear 0.15s forwards;
  }

  @keyframes firstLineOpen {
    0% {
      top: 22px;
    }
    50% {
      top: 42px;
    }
    100% {
      top: 42px;
    }
  }

  .thirdLineOpen {
    animation: thirdLineOpen linear 0.15s forwards;
  }

  @keyframes thirdLineOpen {
    0% {
      top: 52px;
    }
    50% {
      top: 32px;
      transform: rotate(0deg);
    }
    100% {
      top: 32px;
      transform: rotate(90deg);
    }
  }

  .firstLineClose {
    animation: firstLineClose linear 0.15s forwards;
  }

  @keyframes firstLineClose {
    0% {
      top: 42px;
    }
    50% {
      top: 42px;
    }
    100% {
      top: 22px;
    }
  }

  .thirdLineClose {
    animation: thirdLineClose linear 0.15s forwards;
  }

  @keyframes thirdLineClose {
    0% {
      top: 32px;
      transform: rotate(90deg);
    }
    50% {
      top: 32px;
      transform: rotate(0deg);
    }
    100% {
      top: 52px;
    }
  }
}

/*  =================================================
    End | Header Section
    ================================================= */

/*  =================================================
    Start | Home Page
    ================================================= */

#homeFirstSection {
  width: 100%;
  min-width: 300px;
  height: 100vh;
  background-image: url(../images/background/homeBackground.jpg);
  background-size: cover;
  background-position: 50% 80%;
  display: grid;
  grid-template: repeat(3, 1fr) / 5% 90% 5%;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #homeFirstSection {
    height: 90vh;
  }
}

.firstSentence {
  width: 34%;
  grid-area: 3 / 2;
  color: var(--speedyWhite);
  position: relative;
  top: -1.5rem;
}

.bookNowButton {
  font-weight: 700;
  padding: 0.5em 4em;
  position: relative;
  top: 2em;
  border: 0.125em solid var(--speedyWhite);
  border-radius: 2em;
  animation: buttonOff 0.25s linear forwards;
}

@keyframes buttonOff {
  0% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
  }
  100% {
    color: var(--speedyWhite);
    background-color: transparent;
  }
}

.bookNowButton:hover {
  animation: buttonOn 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes buttonOn {
  0% {
    color: var(--speedyWhite);
    background-color: transparent;
  }
  100% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
  }
}

@media (max-width: 950px) {
  .firstSentence {
    width: 90%;
    justify-self: center;
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
    top: -4.5em;
    color: var(--speedyDarkGrey);
  }

  .bookNowButton {
    color: var(--speedyDarkGrey);
    border-color: var(--speedyDarkGrey);
    animation: darkButtonOff 0.25s linear forwards;
  }

  @keyframes darkButtonOff {
    0% {
      color: var(--speedyWhite);
      background-color: var(--speedyDarkGrey);
    }
    100% {
      color: var(--speedyDarkGrey);
      background-color: transparent;
    }
  }

  .bookNowButton:hover {
    animation: darkButtonOn 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes darkButtonOn {
    0% {
      color: var(--speedyDarkGrey);
      background-color: transparent;
    }
    100% {
      color: var(--speedyWhite);
      background-color: var(--speedyDarkGrey);
    }
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .firstSentence {
    width: 90%;
    justify-self: center;
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
    top: -6em;
    color: var(--speedyDarkGrey);
  }

  .bookNowButton {
    color: var(--speedyDarkGrey);
    border-color: var(--speedyDarkGrey);
    animation: darkButtonOff 0.25s linear forwards;
  }

  @keyframes darkButtonOff {
    0% {
      color: var(--speedyWhite);
      background-color: var(--speedyDarkGrey);
    }
    100% {
      color: var(--speedyDarkGrey);
      background-color: transparent;
    }
  }

  .bookNowButton:hover,
  .bookNowButton:focus,
  .bookNowButton:active {
    animation: darkButtonOn 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes darkButtonOn {
    0% {
      color: var(--speedyDarkGrey);
      background-color: transparent;
    }
    100% {
      color: var(--speedyWhite);
      background-color: var(--speedyDarkGrey);
    }
  }
}

#homeSecondSection {
  display: grid;
  grid-template: 100px 1fr 100px / 5% 60% 35%;
  background-color: var(--speedyLightGrey);
}

#homeSecondSection h2 {
  text-align: center;
  padding-bottom: 0.5em;
}

.briefIntro {
  color: var(--speedyBlue);
  grid-area: 2 / 2;
  line-height: 1.5;
  background-color: var(--speedyWhite);
  padding: 3em 3em 6em;
  text-align: justify;
  border-radius: 1em 0 0 1em;
}

.bookNowBlueButton {
  font-weight: 700;
  margin-top: 1em;
  padding: 0.5em 4em;
  position: relative;
  top: 2.25em;
  border: 0.125em solid var(--speedyBlue);
  border-radius: 2rem;
  animation: buttonBlueOff 0.25s linear forwards;
}

@keyframes buttonBlueOff {
  0% {
    color: var(--speedyWhite);
    background-color: var(--speedyBlue);
  }
  100% {
    color: var(--speedyBlue);
    background-color: transparent;
  }
}

.bookNowBlueButton:hover {
  animation: buttonBlueOn 0.25s linear forwards;
}

@keyframes buttonBlueOn {
  0% {
    color: var(--speedyBlue);
    background-color: transparent;
  }
  100% {
    color: var(--speedyWhite);
    background-color: var(--speedyBlue);
  }
}

.verticalImage {
  grid-area: 2 / 3;
  width: 100%;
  min-height: 480px;
  background-image: url(../images/extra/carKey.jpg);
  background-size: cover;
  background-position: 35% 70%;
}

@media (max-width: 950px) {
  #homeSecondSection {
    grid-template: 100px 1fr 100px / 5% 90% 5%;
  }

  .briefIntro {
    border-radius: 1em;
  }

  .verticalImage {
    display: none;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #homeSecondSection {
    grid-template: 100px 1fr 100px / 5% 90% 5%;
  }

  .briefIntro {
    text-align: center;
    border-radius: 1em;
    padding: 2em 3em 5em;
  }

  .verticalImage {
    display: none;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .briefIntro p {
    /* BW */
    font-size: 0.6rem;
  }
}

#homeThirdSection {
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 27.5% 3.75% 27.5% 3.75% 27.5% 5%;
  background-color: var(--speedyWhite);
}

#homeThirdSection h2 {
  color: var(--speedyBlue);
  grid-column: 2 / span 5;
  text-align: center;
  padding: 1.25em 0;
}

#homeThirdSection .comments {
  border-radius: 1em;
  color: var(--speedyBlue);
  text-align: center;
  background-color: var(--speedyLightGrey);
  padding: 2em 3em 1em;
  margin-bottom: 4em;
  display: grid;
  grid-template-rows: 5em repeat(2, 3em) 1fr 3em;
  align-items: center;
}

.firstComment {
  position: relative;
  grid-area: 2 / 2;
}

.secondComment {
  grid-area: 2 / 4;
}

.thirdComment {
  display: inline;
  grid-area: 2 / 6;
}

.profileImage {
  height: 4rem;
  justify-self: center;
}

.rating {
  color: var(--speedyYellow);
  margin-bottom: 1em;
}

.comments p {
  align-self: start;
}

@media (max-width: 950px) {
  #homeThirdSection {
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
  }

  #homeThirdSection h2 {
    grid-column: 2 / span 3;
  }

  .thirdComment {
    position: relative;
    left: 125%;
    grid-area: 2 / 4;
  }
}

@media (max-width: 600px) {
  #homeThirdSection {
    grid-template-columns: 5% 90% 5%;
  }

  #homeThirdSection h2 {
    grid-column: 2 / span 1;
  }

  .secondComment {
    position: relative;
    left: 125%;
    grid-area: 2 / 2;
  }

  .thirdComment {
    position: relative;
    left: 125%;
    grid-area: 2 / 2;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #homeThirdSection {
    grid-template-columns: 12.5% 75% 12.5%;
  }

  #homeThirdSection h2 {
    grid-column: 2 / span 1;
  }

  #homeThirdSection .comments {
    grid-template-rows: 5em repeat(2, 3em) 1fr 4em;
  }

  .secondComment {
    position: relative;
    left: 80vw;
    grid-area: 2 / 2;
  }

  .thirdComment {
    position: relative;
    left: 160vw;
    grid-area: 2 / 2;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #homeThirdSection {
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
  }

  #homeThirdSection h2 {
    grid-column: 2 / span 3;
  }

  .thirdComment {
    position: relative;
    left: 125%;
    grid-area: 2 / 4;
  }
}

/*  =================================================
    End | Home Page
    ================================================= */

/*  =================================================
    Start | Services Page
    ================================================= */

#servicesFirstSection {
  width: 100%;
  height: 62vh;
}

.servicesBackground {
  width: 100%;
  height: 100%;
  background-image: url(../images/background/servicesBackground.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.95);
  background-position: 50% 50%;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  #servicesFirstSection {
    height: 37.5vh;
  }

  .servicesBackground {
    background-size: auto;
    background-attachment: scroll;
    background-position: 50% 0%;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #servicesFirstSection {
    height: 72.5vh;
  }

  .servicesBackground {
    background-size: cover;
    background-position: 50% 5%;
  }
}

#servicesSecondSection img {
  width: 4rem;
}

.servicesHeading {
  text-align: center;
  color: var(--speedyBlue);
  padding: 1.5rem 0 1rem 0;
}

/*  =================================================
    End | Services Page
    ================================================= */

/*  =================================================
    Start | Booking Page
    ================================================= */

#bookingFirstSection {
  width: 100%;
  min-width: 300px;
  height: 62vh;
  background-image: url(../images/background/bookingBackground.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  display: grid;
  grid-template: repeat(2, 50%) / 5% repeat(3, 30%) 5%;
}

.bookingHeader {
  grid-area: 2 / 2;
  color: var(--speedyWhite);
  animation: showBookingHeader 0.25s linear;
  animation-fill-mode: forwards;
}

@media (max-width: 950px) {
  #bookingFirstSection {
    grid-template: repeat(2, 50%) / 5% 40% 50% 5%;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  #bookingFirstSection {
    background-size: auto;
    background-attachment: scroll;
    background-position: 50% 0%;
    grid-template: repeat(2, 50%) / 5% 60% 30% 5%;
    height: 36.25vh;
  }

  .bookingHeader {
    position: relative;
    top: -0.3em;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #bookingFirstSection {
    background-size: cover;
    height: 72.5vh;
    background-position: 50% 10%;
    grid-template: repeat(2, 50%) / 5% 45% 45% 5%;
  }

  .bookingHeader {
    position: relative;
    top: 0.5em;
    font-size: 2rem;
    visibility: visible;
  }
}

@keyframes showBookingHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hideBookingHeader {
  animation: hideBookingHeader 0.25s linear;
  animation-fill-mode: forwards;
}

@keyframes hideBookingHeader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#bookingSecondSection {
  width: 100%;
  color: var(--speedyBlue);
  background-color: var(--speedyLightGrey);
}

#bookingSecondSection h1,
#bookingSecondSection h3,
.bookingForm {
  width: 90%;
  max-width: 950px;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  #bookingSecondSection h1,
  #bookingSecondSection h3,
  .bookingForm {
    width: 100%;
  }
}

#bookingSecondSection h1 {
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem 0 1rem 0;
}

#bookingSecondSection h3 {
  margin: 0 auto;
  text-align: justify;
  padding: 0 1.75rem 0.75em 1.75rem;
}

.bookingForm {
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.bigSpan {
  grid-column: span 6;
}

.mediumSpan {
  grid-column: span 3;
}

.smallSpan {
  grid-column: span 2;
}

.spanGrid {
  display: grid;
  grid-template-rows: 1.85em 3.25em 0;
}

@media (max-width: 950px) {
  .smallSpan {
    grid-column: span 3;
  }
}

@media (max-width: 600px) {
  .mediumSpan {
    grid-column: span 6;
  }
  .smallSpan {
    grid-column: span 6;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  .mediumSpan {
    grid-column: span 6;
  }

  .smallSpan {
    grid-column: span 6;
  }

  .spanGrid {
    grid-template-rows: 1.85em 4em 0;
  }
}

#bookingSecondSection .bookingForm .formTitles {
  font-weight: 700;
  padding: 0.75rem 0.75rem 0 0.75rem;
  margin: 0;
}

#bookingSecondSection .bookingForm .blockText {
  display: block;
  font-weight: 500;
  padding: 0.75rem 1.25rem 0 1.25rem;
  margin: 0 0.5rem;
}

.whiteInputBox {
  height: 40px;
  background-color: var(--speedyWhite);
  border: 2px solid var(--speedyWhite);
  border-radius: 2rem;
  padding: 0.2rem 1.25rem;
  margin: 0.5rem;
}

#bookingSecondSection .bookingForm .checkboxes {
  position: fixed;
  opacity: 0;
}

.textInBox {
  font-size: 1rem;
  height: 2.5em;
  display: block;
  background-color: var(--speedyWhite);
  border: 0.125em solid var(--speedyWhite);
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 2.75em;
  margin: 0.5em;
}

.checkCircle {
  position: relative;
  top: -1.25em;
  left: -2em;
  height: 1.25em;
  width: 1.25em;
  border: 0.0625em solid var(--speedyBlue);
  border-radius: 50%;
}

.checkCircle:hover {
  cursor: pointer;
}

.checkCircle.selectedCircle {
  background-color: var(--speedyBlue);
}

.checkMark {
  height: 0.75em;
  width: 0.35em;
  border-right: 0.125em solid var(--speedyWhite);
  border-bottom: 0.125em solid var(--speedyWhite);
  transform: rotate(40deg);
  position: absolute;
  left: 0.375em;
  top: 0.125em;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  .textInBox {
    font-size: 1.25rem;
  }

  .checkCircle {
    top: -1.5em;
    left: -2.5em;
    height: 1.5em;
    width: 1.5em;
  }

  .checkMark {
    height: 0.95em;
    width: 0.45em;
    left: 0.45em;
  }

  #bookingSecondSection .bookingForm .textInBox:hover {
    border-color: var(--speedyBlue);
    animation: focusedInput 0.4s linear;
    animation-fill-mode: forwards;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .checkCircle {
    top: -1.6em;
  }
}

#bookingSecondSection .bookingForm .selectedBox {
  font-weight: 700;
}

#bookingSecondSection .bookingForm .focusBlueBorder {
  border-color: var(--speedyBlue);
  animation: focusedInput 0.4s linear;
  animation-fill-mode: forwards;
}

.checkboxes {
  position: absolute;
}

#bookingSecondSection .bookingForm .hideComments {
  display: none;
}

.submitButton {
  grid-column: 3 / 5;
  padding: 1.25rem 0;
}

@media (max-width: 950px) {
  .submitButton {
    grid-column: 2 / 6;
  }
}

@media (max-width: 600px) {
  .submitButton {
    grid-column: 1 / 7;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  .submitButton {
    grid-column: 1 / 7;
  }
}

input,
select,
textarea {
  border: 0.125em solid var(--speedyWhite);
  border-radius: 2em;
  font-weight: 700;
  width: -webkit-fill-available;
  padding: 0.5em 1.25em;
  margin: 0.5em 0.5em 0.25em;
  resize: none;
  background-color: var(--speedyWhite);
  caret-color: var(--speedyBlue);
}

#rego {
  text-transform: uppercase;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--speedyBlue);
  animation: focusedInput 0.4s linear forwards;
}

@keyframes focusedInput {
  0% {
    border-color: var(--speedyWhite);
  }
  100% {
    border-color: var(--speedyBlue);
  }
}

/* Invalid Input */

.invalidInput,
.invalidInput:focus {
  color: var(--speedyDarkRed);
  border-color: var(--speedyDarkRed);
  transition: ;
  animation: invalidInput 0.4s linear forwards;
}

@keyframes invalidInput {
  0% {
    border-color: var(--speedyWhite);
  }
  100% {
    border-color: var(--speedyDarkRed);
  }
}

.invalidSmallText {
  font-size: 0.8rem;
  text-align: right;
  margin-right: 2em;
  color: var(--speedyDarkRed);
}

/* It removes the default background colour and text colour when autofilling */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 2em var(--speedyWhite) inset;
  -webkit-text-fill-color: var(--speedyBlue);
}

.contentInsideBox,
.textInBox,
.checkboxes,
#submitButton {
  cursor: pointer;
}

#submitButton {
  background-color: var(--speedyBlue);
  border-color: var(--speedyBlue);
  color: var(--speedyWhite);
  font-size: 1.25rem;
  padding: 0.2em;
  opacity: 0.9;
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) {
  .invalidSmallText {
    font-size: 1rem;
  }

  #submitButton {
    font-size: 1.5rem;
  }
}

#submitButton:hover {
  opacity: 1;
}

/*  ===== Recaptcha Position ===== */

.grecaptcha-badge {
  bottom: 80px !important;
}

/*  =================================================
    End | Booking Page
    ================================================= */

/*  =================================================
    Start | Footer Section
    ================================================= */

footer {
  display: grid;
  grid-template-columns: 5% 25% 10.5% 25% 7.5% 22% 5%;
  align-items: start;
  padding-top: 3em;
  background-color: var(--speedyDarkGrey);
  color: var(--speedyLightGrey2);
}

footer h4 {
  grid-column: 1 / span 2;
  color: var(--speedyWhite);
  padding-bottom: 1.5em;
}

footer p {
  padding-bottom: 1em;
}

.footerColumn {
  display: grid;
  grid-template-columns: 45% 55%;
  padding-bottom: 2.5em;
}

.firstFooterColumn {
  grid-column: 2;
}

.firstFooterColumn p {
  grid-column: 1 / span 2;
  text-align: justify;
  line-height: 1.2rem;
}

.footerButton {
  grid-column: 1 / span 2;
  width: 10rem;
  text-align: center;
  align-self: center;
  border: 0.0625em solid var(--speedyLightGrey2);
  border-radius: 2em;
  padding: 0.5em 1em;
  margin: 1.5em 0 1em 0;
  animation: footerButtonOff 0.25s linear forwards;
}

@keyframes footerButtonOff {
  0% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
    border-color: var(--speedyWhite);
  }
  100% {
    color: var(--speedyLightGrey2);
    background-color: transparent;
    border-color: var(--speedyLightGrey2);
  }
}

.footerButton:hover {
  animation: footerButtonOn 0.25s linear forwards;
}

@keyframes footerButtonOn {
  0% {
    color: var(--speedyLightGrey2);
    background-color: transparent;
    border-color: var(--speedyLightGrey2);
  }
  100% {
    color: var(--speedyDarkGrey);
    background-color: var(--speedyWhite);
    border-color: var(--speedyWhite);
  }
}

.secondFooterColumn {
  grid-column: 4;
}

.thirdFooterColumn {
  grid-column: 6;
}

.footerSpanTwo {
  grid-column: span 2;
}

.footerInfoLink {
  padding: 0.25rem 1rem 0.25rem 0;
}

.footerInfoLink:hover {
  color: var(--speedyWhite);
  opacity: 1;
}

.socialMedia a {
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin-right: 0.5rem;
}

.socialMedia a:hover {
  color: var(--speedyWhite);
  opacity: 1;
}

.socialMedia i {
  font-size: 1.5rem;
}

.copyright {
  grid-column: 2 / span 3;
  border-top: 1px solid var(--speedyLightGrey2);
}

.createdBy {
  text-align: right;
  grid-column: 5 / span 2;
  border-top: 1px solid var(--speedyLightGrey2);
}

.copyright,
.createdBy {
  padding: 1.75rem 0;
}

.createdBy a {
  padding: 0.75rem 0;
}

.createdBy a:hover {
  color: var(--speedyWhite);
  opacity: 1;
}

@media (max-width: 950px) {
  footer {
    grid-template-columns: 5% 41.25% 7.5% 41.25% 5%;
  }

  .firstFooterColumn {
    grid-column: 2 / span 3;
  }

  .secondFooterColumn {
    grid-column: 2;
  }

  .thirdFooterColumn {
    grid-column: 4;
  }

  .copyright {
    text-align: center;
    padding: 1.75rem 0 1.25rem 0;
  }

  .createdBy {
    text-align: center;
    grid-column: 2 / span 3;
    border-top: 0;
    padding: 0 0 1.75rem 0;
  }
}

@media (max-width: 600px) {
  footer {
    grid-template-columns: 10% 80% 10%;
  }

  .footerColumn {
    grid-template-columns: 35% 65%;
  }

  .firstFooterColumn {
    grid-column: 2;
  }

  .thirdFooterColumn {
    grid-column: 2;
  }

  .copyright {
    grid-column: 2 / span 1;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  footer {
    grid-template-columns: 5% 90% 5%;
  }

  .firstFooterColumn,
  .secondFooterColumn,
  .thirdFooterColumn,
  .copyright,
  .createdBy {
    grid-column: 2;
  }

  .copyright {
    text-align: center;
    padding: 2.25em 0 1.5em 0;
  }

  .createdBy {
    text-align: center;
    border-top: 0;
    padding: 0 0 3em 0;
  }
}

@media (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  footer {
    grid-template-columns: 5% 25% 7.5% 25% 7.5% 25% 5%;
  }
}

/*  =================================================
    End | Footer Section
    ================================================= */
